#header{
    color:black;
    text-align:center;
    padding:5px;
}
#nav{
    width:200px;
    float:left;
    padding:5px;
}
#section{
    width:850px;
    float:left;
    padding:10px;
}
#images{
    width:850px;
    float:left;
    padding:10px;
}
#commentary{
    width:300px;
    float:right;
    padding:10px;
}
#translation{
    width:200px;
    float:left;
    padding:10px;
    border:thin
}
#footer{
    color:black;
    clear:both;
    text-align:center;
    padding:5px;
}
body{
    background-color:#b0c4de;
}
h1{
    font-size:40px;
    font-family:"Arial Unicode MS", Times, serif;
}
h2{
    font-size:30px;
}
p,
ul{
    font-size:14px;
    font-family:"Arial Unicode MS", Times, serif;
}
.col3{
    -webkit-columns:3;
}
#list{
    float:left;
    width:250px;
}